@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #7a1a1a;
  --color-primary-bright: #e24b4a;
  --color-primary-muted: #fdeaea;
  --color-primary-border: #f0a0a0;

  --color-bg: #f5f5f4;
  --color-bg-card: #ffffff;
  --color-bg-sidebar: #2c2c2a;
  --color-bg-sidebar-active: #7a1a1a;

  --color-text-primary: #1a1a18;
  --color-text-secondary: #5f5e5a;
  --color-text-muted: #888780;

  --color-border: #d3d1c7;

  --color-success: #3b6d11;
  --color-success-bg: #eaf3de;
  --color-warning: #854f0b;
  --color-warning-bg: #faeeda;
  --color-danger: #7a1a1a;
  --color-danger-bg: #fdeaea;

  --font-sans: 'Poppins','Inter', sans-serif;
}

.dark {
  --color-primary: #e24b4a;
  --color-primary-bright: #f09595;
  --color-primary-muted: #2a1010;
  --color-primary-border: #4a1a1a;

  --color-bg: #111110;
  --color-bg-card: #1e1e1c;
  --color-bg-sidebar: #1a1a18;
  --color-bg-sidebar-active: #7a1a1a;

  --color-text-primary: #d3d1c7;
  --color-text-secondary: #888780;
  --color-text-muted: #5f5e5a;

  --color-border: #2c2c2a;

  --color-success: #97c459;
  --color-success-bg: #173404;
  --color-warning: #fac775;
  --color-warning-bg: #412402;
  --color-danger: #f09595;
  --color-danger-bg: #2a1010;
}

* {
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 99px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text-muted);
}